.header {
  $height: 75px;
  $mainColor: #a768d5;

  background-color: white;
  position: relative;
  height: $height;
  padding: 15px 40px;
  align-items: center;

  &__tabs {
    display: flex;
    position: absolute;
    left: 120px;
    height: $height;
    align-items: center;
  }

  &__logo {
    height: $height;
    width: $height;
    background: url("./img/logo.png") round;
    position: absolute;
    left: 30px;
  }
  &__basket {
    background: $mainColor url("./img/bg_pouch.png") no-repeat center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 25px;
  }

  &__link {
    margin: 0 10px;
    cursor: pointer;
    padding: 10px 0;
    &.active {
      border-bottom: 2px solid $mainColor;
    }
  }

  &__logout {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    right: 100px;
    position: absolute;
    background: lightgray url("./img/logout.png") center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 30px;
  }
}