.edit-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: gray;
  //opacity: 0.5;
  top: 0;

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: auto;
    margin-top: 105px;
    border-radius: 6px;
    border: 1px silver solid;
    width: 400px;
    height: 500px;
  }

  .input-field {
    display: block;
    height: 35px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background: transparent;
    width: 300px;
    text-indent: 4px;
    font-family: Roboto, sans-serif;
    color: #555555;
    font-size: 16px;
    margin-top: 20px;
  }
}