.product-list {
  .container {
    margin: 0 auto;
    max-width: 80%;
  }

  &__card {
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px dotted #CCC;
    width: 290px;
    padding: 3px 22px 12px 21px;
    float: left;

    .card-container {
      border-right: 1px dotted #c1c0c1;
      padding: 3px 22px 12px 21px;
      width: 100%;
      color: #555555;
      text-align: center;
      position: relative;

      .info-button {
        position: absolute;
        color: #cac0bd;
        text-align: center;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        top: 12px;
        line-height: 38px;
        font-size: 24px;
        background: #F0EDED;
        right: 40px;
        cursor: pointer;

        &:hover {
          background-color: #a768d5;
          color: white;
        }
      }

      .card-button {
        width: 190px;
        height: 40px;
        border-radius: 6px;
        background-color: #a768d5;
        margin: 0 auto;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;

        &:hover {
          background: #333333;
        }
      }
      .name {
        text-transform: uppercase;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 100;
        height: 50px;
        text-overflow: ellipsis;
      }
      .price {
        font-weight: 700;
        font-size: 18px;
      }
    }

    .card_img {
      max-width: 280px;
      height: 250px;
    }
  }

  .clear {
    clear: both;
  }

}